.caption {
  font-style:italic;
  text-align: center;
  font-size: 16px;
  padding-bottom: 20px;
}

.content article p {
  text-align: left;
  hyphens: none;
}

.navigation .navigation-title {
  text-transform: none;
}