{{ define "title" }}
{{ .Title }}
{{ end }}
{{ define "content" }}
<section class="container post">
  <article>
    <header>
      <div class="post-title">
        <h1 class="title">
          <a class="title-link" href="{{ .Permalink | safeURL }}">
            {{ .Title }}
          </a>
        </h1>
      </div>
      <div class="post-meta">
        <div class="date">
          <span class="posted-on">
            <i class="fa-solid fa-calendar" aria-hidden="true"></i>
            <time datetime="{{ .Date.Format " 2006-01-02T15:04:05Z07:00" }}">
              {{ .Date | time.Format (.Site.Params.dateFormat | default "January 2, 2006" ) }}
            </time>
          </span>
          <span class="reading-time">
            <i class="fa-solid fa-clock" aria-hidden="true"></i>
            {{ i18n "reading_time" .ReadingTime }}
          </span>
        </div>
        {{ with .GetTerms "authors" }}{{ partial "taxonomy/authors.html" . }}{{ end }}
        {{ with .GetTerms "categories" }}{{ partial "taxonomy/categories.html" . }}{{ end }}
        {{ with .GetTerms "tags" }}{{ partial "taxonomy/tags.html" . }}{{ end }}
      </div>
    </header>

    <div class="post-content">
      {{ .Content }}
    </div>

    {{- if .Params.series -}}
    {{- with index (.GetTerms "series") 0 -}}
    <h2>Series</h2>
    <hr />
    <div class="notice--info">
      <p>This post is part of the <a href="{{ .Permalink }}" style="font-weight: bold">{{ .LinkTitle }}</a> series.</p>
    </div>
    {{- end -}}
    {{- end -}}

    {{- if .Params.series -}}
    <div class="post-series">
      {{- $series := where .Site.RegularPages.ByDate ".Params.series" "intersect" .Params.series -}}
      {{- with $series -}}
      <ol>
        {{- range . -}}
        <li>
          {{- if eq .File.UniqueID $.File.UniqueID -}}
          <b>{{ .Title }}</b>
          {{- else -}}
          <a href="{{ .Permalink }}">{{ .Title }}</a>
          {{- end -}}
        </li>
        {{- end -}}
      </ol>
      {{- end -}}
    </div>
    {{- end -}}
  </article>

  {{ partial "posts/mastodon.html" . }}
</section>
{{ end }}